body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

p {
    font-size: 18px;
    margin-top: 10px;
}